@tailwind base;
@tailwind components;
@tailwind utilities;

body {
     /* Taille du texte */
    font-size: 16px;
}

h1 {
     /* Taille des h1 */
     font-size: 32px;
}

h2 {
    /* Taille des h2 */
    font-size: 24px;
}

h3 {
    /* Taille des h3 */
    font-size: 20px;
}

/* Classes: */
.linkNav {

    @apply 
    bg-red-500 
    border 
    border-gold 
    border-solid
    pl-1 
    pr-1 
    rounded-tr-xl 
    rounded-br-xl 
    w-44;
}

.linkNav:hover {

    @apply scale-110 pl-3;
}

.whiteLink {

    @apply 
    bg-gold 
    border 
    border-solid 
    pl-1 
    pr-1 
    rounded-tr-xl 
    rounded-br-xl 
    ml-3 
    scale-110;
}

.colorTitle {

    @apply  text-red-700;
}

.colorh2 {

    @apply  text-blue-900;
}

.linkClick {

    @apply  
    text-blue-500 
    underline 
    rounded-tr-xl 
    rounded-br-xl    
    rounded-tl-xl 
    rounded-bl-xl
    pl-1
    pr-1;
}

.linkClick:hover {

    @apply  text-black bg-blue-500;
}

.allButton {

    @apply 
    bg-blue-500 
    rounded-tr-xl 
    rounded-br-xl
    rounded-tl-xl 
    rounded-bl-xl
    self-center
    mb-5
    w-32;
}

.allButton:hover {

    @apply 
    scale-110;
}

.inputHeight {

    @apply
    h-6
    w-60
}